<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Somos a maior loja on line de venda de produtos tecnológicos, fundada em 12 de setembro de 1974, estamos no mercado servindo com qualidade e acima de tudo honestidade para com nossos clientes e amigos !                
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> rjgi@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (21) 3857-7700</li>
                <li><i class="fa-brands fa-whatsapp"></i> (21) 9 9999-0100</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>