<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="formContato">
        <input type="text" 
          placeholder="Digite o seu nome"
          formControlName="nome"
          [class.valid]="formContato.controls['nome'].valid"
          [class.invalid]="formContato.controls['nome'].invalid &&
          (formContato.controls['nome'].touched || formContato.controls['nome'].dirty)"
        />           
        <input type="assunto"  placeholder="Digite o assunto" required="true"/>
        <input type="tel" required placeholder="(00) 0 0000-0000"/>
        <input type="email" required placeholder="Digite o seu email"/>
        <textarea maxlength="300" required  placeholder="Digite a sua mensagem..." rows="5"></textarea>        
        <button class="contact-form-button" (click)="enviarFormulario()">Enviar</button>
    </form>
    <address>
        <iframe></iframe>
    </address>
</section>
